@charset "utf-8";

body {
    background-image: linear-gradient(to top left, hsl(290, 40%, 20%), hsl(290, 40%, 10%));
}

main {
    margin-top: 16px;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    margin-top: 32px;
    margin-bottom: 16px;
    color: white;
}

main > p {
    color: white;
    text-align: center;
}

main p {
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.5;
}

article {
    background-image: linear-gradient(to right, hsl(320, 60%, 20%), hsl(320, 60%, 10%));

    color: white;
    padding-bottom: 48px;
    margin-bottom: 48px;
    border-bottom: 3px solid hsl(320, 60%, 10%);
}

article > h3 {
    padding-top: 16px;
    padding-bottom: 11px;
    padding-left: 8px;
    margin-top: 16px;
    font-size: 2em;
    color: white;
    background-image: linear-gradient(to right, hsl(320, 60%, 25%), hsl(320, 60%, 15%));
    border-bottom: 3px solid hsl(320, 60%, 15%);
}

article > p {
    margin-top: 16px;
}

article p.articleTimestamp {
    font-style: italic;
    font-weight: bold;
    color: white;
}

@media only screen and (min-width: 481px) {
    article > p {
        padding-left: 16px;
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 769px) {

    article {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 8px 8px 0px hsla(0, 0%, 0%, 0.25);
    }

    article > h3 {
        background-image: linear-gradient(to right, hsl(320, 60%, 25%), hsl(320, 60%, 15%) 45%, hsl(320, 60%, 17.5%));
        padding-left: 1em;
    }

    article > p {
        padding-left: 1.5em;
        padding-right: 50%;

    }

}