@charset "utf-8";

body {
    background-image: linear-gradient(to top left, hsl(290, 40%, 20%), hsl(290, 40%, 10%));
    height: auto;
}

footer {
    margin-top: auto;
}

main > h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 16px 0px;
}

main {
    padding-top: 128px;
}

article {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
}

article > section {
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    border: 1px solid hsla(0, 0%, 100%, 0.25);
    margin: 16px;
    box-shadow: 4px 4px 16px black;
    padding: 64px 16px 16px;
}

article > section > h2 {
    margin-bottom: 16px;
}

article > section > p {
    margin-bottom: 32px;
}

article > section > p > a {
    font-weight: bold;
    color: white;
}

form {
    width: 100%;
}

input {
    font-size: 1.5em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}

form > * {
    margin-bottom: 8px;
}

input#searchButton {
    background-image: linear-gradient(to right, hsl(320, 60%, 30%), hsl(320, 60%, 20%));
    color: white;
    border: 1px solid hsl(320, 60%, 30%);
    padding: 8px;
    border-radius: 3px;
    margin-top: 8px;
}

#chat {
    display: none;
    position: fixed;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top left, hsl(290, 40%, 20%), hsl(290, 40%, 10%));
    color: white;
    border: 1px solid black;
    padding-top: 16px;
    box-shadow: 0px 4px 16px black;
    z-index: 100;
}

#chatHeader {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    flex-flow: row nowrap;
    align-content: space-between;
}

#chatHeader > h3 {
    padding: 8px;
    -webkit-flex: 1 0;
    -moz-flex: 1 0;
    flex: 1 0;
}

#chatHeader > img {
    -webkit-flex: 0 0;
    -moz-flex: 0 0;
    flex: 0 0;
    margin-right: 8px;
}

#chatMessagesContainer {
    padding: 8px;
    -webkit-flex: 1 0;
    -moz-flex: 1 0;
    flex: 1 0;
    overflow: auto;
}

#closeButton {
    height: 32px;
    width: 32px;
}

#chatMessageForm {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

#chatMessageForm > input {
    -webkit-flex: 1 0;
    -moz-flex: 1 0;
    flex: 1 0;
    padding: 8px;
    font-size: 16px;
}

#chatMessageForm > button {
    background-image: linear-gradient(to right, hsl(320, 60%, 30%), hsl(320, 60%, 20%));
    color: white;
    font-size: 16px;
    border: none;
}

.message {
    background-image: linear-gradient(to right, hsl(320, 60%, 30%), hsl(320, 60%, 20%));
    padding: 8px;
    margin-right: 20%;
    border-radius: 4px;
    box-shadow: 0px 2px 2px black;
    margin-bottom: 8px;
}

.userMessage {
    margin-left: 20%;
    background-image: linear-gradient(to right, hsl(260, 60%, 30%), hsl(260, 60%, 20%));
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px black;
    margin-bottom: 8px;
}

@media only screen and (min-width: 525px) and (min-height: 500px) {
    #chat {
        width: 500px;
        height: 500px;
        bottom: 0;
        right: 5%;
    }

}

@media only screen and (min-width: 481px) {

    article > section > h2 {
        margin-bottom: 64px;
    }

    main > h2 {
        font-size: 3em;
    }

    section > p {
        font-size: 1.5em;
    }

    article > section > h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1024px) {

    article > section {
        width: 30%;
        min-height: 30vw;
    }
}