@charset "utf-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

html, body, header, footer, main, article, p, aside, div, h1, h2, h3, form, input, label {
    margin: 0px;
    padding: 0px;
    display: block;
    box-sizing: border-box;
}